<!DOCTYPE html>
<head>
	<title>Gliederung für Angular-Präsentation</title>
</head>
<body>
	<h1>Gliederung für Angular-Präsentation</h1>
	
	<div class="container">
        <div class="box">
          <h2>1. Einführung in Angular</h2>
          <ul>
            <li>Was ist Angular?</li>
            <li>SinglePage-Application</li>
            <li>Verwendung von TypeScript</li>
            <li>Komponenten-basierte Architektur</li>
            <li>Ersetllen einer Web-App</li>
          </ul>
        </div>
        
        <div class="box">
          <h2>2. Komponenten</h2>
          <ul>
            <li>Erstellen von Komponenten</li>
            <li>Verwendung von Komponenten</li>
            <li>Services</li>
          </ul>
        </div>
        
        <div class="box">
          <h2>3. Templates und Direktiven</h2>
          <ul>
            <li>Verwendung von Templates</li>
            <li>Verwendung von Direktiven</li>
            <li>Eigene Tags definieren</li>
            <li>Funktionalität von HTML erweitern</li>
          </ul>
        </div>
        
        <div class="box">
          <h2>4. Routing</h2>
          <ul>
            <li>Routing in Angular</li>
            <li>Erstellen von Routen</li>
            <li>Parameter an Routen übergeben</li>
            <li>Routing-Error-Handling</li>
          </ul>
        </div>
      </div>
      
</body> 
