<h1>Einführung in Angular</h1>

<div class="container">
    <div class="box">
        <h3>Was ist Angular?</h3>
        <p>Angular ist ein JavaScript-Framework für die Entwicklung von Single-Page-Webanwendungen. Es wurde von Google entwickelt und ist heute eines der beliebtesten Web-Frameworks. Angular basiert auf der Programmiersprache TypeScript und setzt auf eine komponentenbasierte Architektur.</p>
    </div>
    <div class="box">
        <h3>SinglePage-Apppcation</h3>
        <p>Eine Single-Page-Webanwendung (kurz: SPA) ist eine Art von Webanwendung, bei der der Inhalt der Seite dynamisch geladen wird, ohne dass die gesamte Seite neu geladen wird. Im Gegensatz zu traditionellen Mehrseitenanwendungen, bei denen jede neue Seite separat geladen wird, bleibt bei einer SPA die Benutzeroberfläche statisch und die Inhalte werden dynamisch aktualisiert, ohne dass die Benutzer die Seite verlassen oder neu laden müssen.</p>
    </div>
    <div class="box">
        <h3>Verwendung von TypeScript</h3>
        <p>TypeScript ist eine von Microsoft entwickelte Programmiersprache, die eine Typisierung auf JavaScript-Ebene ermöglicht. TypeScript ist eine Erweiterung von JavaScript, die es Entwicklern ermöglicht, typsicheren Code zu schreiben, der leichter zu warten und zu debuggen ist.</p>
        <p>Die Verwendung von TypeScript in Angular bietet viele Vorteile. Zum einen ermöglicht TypeScript eine bessere Code-Qualität und reduziert die Fehleranfälligkeit. Durch die Verwendung von Typen wird der Code robuster und leichter zu lesen und zu verstehen. Darüber hinaus bietet TypeScript eine umfassende Unterstützung für moderne JavaScript-Features und eine bessere Leistung, indem es den Code optimiert.</p>
        <p>Insgesamt bietet die Verwendung von TypeScript in Angular Entwicklern eine leistungsfähige und flexible Plattform für die Erstellung von Webanwendungen. Die Kombination von Angular und TypeScript ermöglicht es Entwicklern, sicherere, wartbarere und effektivere Webanwendungen zu erstellen.    </p>
    </div>
    <div class="box">
        <h3>Komponenten-basierte Architektur</h3>
        <p>Angular basiert auf einer komponentenbasierten Architektur, die es Entwicklern ermöglicht, ihre Anwendungen in kleinere, wiederverwendbare und unabhängige Teile zu unterteilen. Jede Komponente ist eine eigenständige Einheit, die ihre eigene Logik, ihr eigenes Styling und ihre eigenen Vorlagen hat.</p>
        <p>mehr dazu in:</p>
        <button class="blue-button" (click)="BtnClick('komponenten')">Komponenten</button>
    </div>
    <div class="box">
        <h3>Ersetllen einer Web-App</h3>
        <p>Als erstes muss man eine neue Angular-Applikation erstellen mit dem folgenden Befehl:</p>
        <p class="console-text">ng new my-app</p>
        <p>Danach muss man noch festlegen, welches Style-Sheet man verwenden möchte und ob man Angular-Routing hinzufügen möchte. Angular-Routing zu nutzen fügt eine weitere "app-routing"-Datei in die Datei-roots ein. Jetzt ist die App mit einer "Default-Seite" erstellt und man kann anfangen seine Angular-Applikation zu erstellen</p>
    </div>
</div>