<!DOCTYPE html>
<head>
	<title>Startseite</title>
</head>
<body>
    <img class="AngularLogo" src="assets/img/angular.svg" alt="Angular Logo">
    <div class="InfoText">
        <h1>Angular- The web development framework</h1>
        <p>Ein SinglePage-Applikation für das erstellen deiner Web-App :)</p>
        <p>Benutzt node_modules, um "angular-packages" herunterzuladen und zu benutzen. Das geht ganz einfach über den "npm CLI client".
        </p>
        <p class="console-text">npm install -g @angular/cli</p>
    </div>

</body>